<a href="https://colab.research.google.com/github/O-NS23/Python-Programs/blob/main/120Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to print "Hello, World!".

In [ ]:
print("Hello World")

Hello World

2. Write a program to input two numbers and print their sum.

In [ ]:
a=int(input("Enter Number 1: "))
b=int(input("Enter Number 2: "))
c=a+b
print(f'{a}+{b}={c}')

Enter Number 1: 2
Enter Number 2: 3
2+3=5

3. Write a program to calculate the area of a rectangle.

In [ ]:
def areaRectangle(l,b):
  area=l*b
  return area
areaRectangle(2,3)

6

4. Write a program to swap two numbers.

In [ ]:
a4=int(input("Enter Number 1: "))
b4=int(input("Enter Number 2: "))
print(f"a4={a4}, b4={b4}")
temp=a4
a4=b4
b4=temp
print(f"a4={a4}, b4={b4}")

Enter Number 1: 23
Enter Number 2: 89
a4=23, b4=89
a4=89, b4=23

5. Write a program to find the largest of two numbers.

In [ ]:
def largestOfTwoNumbers(a5,b5):
  if a5>b5:
    return (f"Num1 ({a5}) is greater than Num2 ({b5})")
  elif a5<b5:
    return (f"Num2 ({b5}) is greater than Num1 ({a5})")
  else:
    return (f"Num1 ({a5}) is equal to Num2 ({b5})")
print(largestOfTwoNumbers(12,15))
print(largestOfTwoNumbers(23,15))
print(largestOfTwoNumbers(23,23))

Num2 (15) is greater than Num1 (12)
Num1 (23) is greater than Num2 (15)
Num1 (23) is equal to Num2 (23)

6. Write a program to check if a number is even or odd.

In [ ]:
def evenOdd(num6):
  if num6 % 2 ==0:
    return f"{num6} Number is Even."
  else:
    return f"{num6} Number is Odd."
print(evenOdd(23))
print(evenOdd(12))

23 Number is Odd.
12 Number is Even.

7. Write a program to calculate the square of a number.

In [ ]:
import math
num7=int(input("Enter the number: "))
sqNum=math.pow(num7,2)
print(f'Square of {num7} is {int(sqNum)}')

Enter the number: 2
Square of 2 is 4

8. Write a program to print the multiplication table of a number.

In [ ]:
num8=int(input("Enter the number: "))
for i in range(1,11):
  print(f"{num8} X {i} = {num8*i}")

Enter the number: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

9. Write a program to input a number and check if it is positive, negative, or zero.

In [ ]:
def positiveNegativeZero(num9):
  if num9>0:
    return f'{num9} is positive.'
  elif num9<0:
    return f'{num9} is negative.'
  else:
    return f'{num9} is zero.'
print(positiveNegativeZero(23))
print(positiveNegativeZero(-23))
print(positiveNegativeZero(0))

23 is positive.
-23 is negative.
0 is zero.

In [5]:
def positiveNegativeZero(num9):
  return (lambda x: 'Positive Number' if x>0 else('Negative Number' if x<0 else 'Zero'))(num9)
print(positiveNegativeZero(-23))
print(positiveNegativeZero(23))
print(positiveNegativeZero(0))

Negative Number
Positive Number
Zero

10. Write a program to find the simple interest.

In [ ]:
def simpleInterest(p,t,r):
  si=0
  si=(p*t*r*12)/100
  repayment=p+si
  print(f"The Simple Interest is {si}\nTotal repayment is {repayment}")
simpleInterest(100000,2,2)

The Simple Interest is 48000.0
Total repayment is 148000.0

11. Write a program to calculate the factorial of a number.

In [ ]:
def factorialNumber(num11):
  sum=1
  for i in range(1,(num11+1)):
    sum=sum*i
  return f'Factorial of {num11} equal to {sum}'
print(factorialNumber(5))
print(factorialNumber(3))
print(factorialNumber(10))

Factorial of 5 equal to 120
Factorial of 3 equal to 6
Factorial of 10 equal to 3628800

12. Write a program to reverse a given number.

In [ ]:
num=int(input("Enter the number: "))
numStr=str(num)
print(type(num))
num=int(numStr)
print(f'Reversed number: {numStr[::-1]}')
print(type(num))

Enter the number: 12345
<class 'int'>
Reversed number: 54321
<class 'int'>

13. Write a program to check if a year is a leap year.

In [ ]:
def leapYear(year):
  if year%4==0 or year%100==0:
    return f"{year} is leap year."
  else:
    return f"{year} is not a leap year."
print(leapYear(2000))
print(leapYear(2012))
print(leapYear(2009))

2000 is leap year.
2012 is leap year.
2009 is not a leap year.

14. Write a program to print numbers from 1 to 100.

In [ ]:
num=2
while num<=100:
  is_Prime = True
  for i in range(2,int(num**0.5)+1):
    if num%i==0:
      is_Prime = False
      break
  if is_Prime:
    print(num)
  num+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

15. Write a program to check if a character is a vowel or consonant.

In [ ]:
def vowelConsonant(char):
  vowels='aeiouAEIOU'

  if char in vowels:
      return "Vowel"
  else:
      return "Consonant"

print(vowelConsonant("S"))

Consonant

In [ ]:
def vowelConsonant(string):
  vowels='aeiouAEIOU'
  vow=''
  con=''
  string=string.replace(" ","")  #Removes spaces
  for char in string:
    if char in vowels:
      vow+=char
    else:
      con+=char
  return (f'{vow}\n{con}')
print(vowelConsonant("O NITHIN SAI BALAJI"))

OIIAIAAI
NTHNSBLJ

16. Write a program to find the largest of three numbers.

In [ ]:
from ast import Pass
def largestOfThreeNumbers(a16,b16,c16):
  if a16>b16 and a16>c16:
    return (f"{a16} is largest")
  elif b16>c16 and b16>a16:
    return (f"{b16} is largest")
  elif c16>a16 and c16>b16:
    return (f"{c16} is largest")

  elif a16==b16 and a16>c16:
    return (f"{a16} and {b16} are equal and largest")
  elif b16==c16 and b16>a16:
    return (f"{c16} and {b16} are equal and largest")
  elif c16==a16 and c16>b16:
    return (f"{a16} and {c16} are equal and largest")

  else:
    return ("All three numbers are equal")
print(largestOfThreeNumbers(45,7,18))
print(largestOfThreeNumbers(18,26,5))
print(largestOfThreeNumbers(18,7,45))

print(largestOfThreeNumbers(45,45,18))
print(largestOfThreeNumbers(9,23,23))
print(largestOfThreeNumbers(31,23,31))

print(largestOfThreeNumbers(23,23,23))

print(largestOfThreeNumbers(45,99,45))

45 is largest
26 is largest
45 is largest
45 and 45 are equal and largest
23 and 23 are equal and largest
31 and 31 are equal and largest
All three numbers are equal
99 is largest

In [ ]:
#Simplest way using max() inbuilt function
def largestOfThreeNumbers(a16,b16,c16):

  if a16==b16==c16:
    return ("All three numbers are equal")
  largest=max(a16,b16,c16)

  if a16==b16 and a16>c16:
    return (f"{a16} and {b16} are equal and largest")
  elif b16==c16 and b16>a16:
    return (f"{c16} and {b16} are equal and largest")
  elif c16==a16 and c16>b16:
    return (f"{a16} and {c16} are equal and largest")

  return (f'{largest} is the largest number.')

print(largestOfThreeNumbers(45,7,18))
print(largestOfThreeNumbers(18,26,5))
print(largestOfThreeNumbers(18,7,45))

print(largestOfThreeNumbers(45,45,18))
print(largestOfThreeNumbers(9,23,23))
print(largestOfThreeNumbers(31,23,31))

print(largestOfThreeNumbers(23,23,23))

print(largestOfThreeNumbers(45,99,45))

45 is the largest number.
26 is the largest number.
45 is the largest number.
45 and 45 are equal and largest
23 and 23 are equal and largest
31 and 31 are equal and largest
All three numbers are equal
99 is the largest number.

17. Write a program to find the smallest of three numbers.

In [ ]:
def smallestOfThreeNumbers(a16, b16, c16):

    if a16 == b16 == c16:
        return "All three numbers are equal"

    smallest = min(a16, b16, c16)

    # Two equal smallest
    if a16 == b16 and a16 < c16:
        return f"{a16} and {b16} are equal and smallest"
    elif b16 == c16 and b16 < a16:
        return f"{b16} and {c16} are equal and smallest"
    elif c16 == a16 and c16 < b16:
        return f"{c16} and {a16} are equal and smallest"

    # Single smallest
    return f"{smallest} is the smallest number."
print(smallestOfThreeNumbers(45, 7, 18))
print(smallestOfThreeNumbers(18, 26, 5))
print(smallestOfThreeNumbers(18, 7, 45))

print(smallestOfThreeNumbers(45, 45, 18))
print(smallestOfThreeNumbers(9, 23, 23))
print(smallestOfThreeNumbers(31, 23, 31))

print(smallestOfThreeNumbers(23, 23, 23))
print(smallestOfThreeNumbers(45, 99, 45))

7 is the smallest number.
5 is the smallest number.
7 is the smallest number.
18 is the smallest number.
9 is the smallest number.
23 is the smallest number.
All three numbers are equal
45 and 45 are equal and smallest

18. Write a program to print the first 10 even numbers.

In [ ]:
count=0
i=0
while count<10:
  if i%2==0:
    print(i)
    i+=1
    count+=1
  else:
    i+=1

0
2
4
6
8
10
12
14
16
18

19. Write a program to print numbers divisible by 5 between 1 and 50.

In [ ]:
for i in range (1,50):
  if i%5==0:
    print(i,end=' ')

5 10 15 20 25 30 35 40 45

20. Write a program to find the sum of the first N natural numbers.

In [ ]:
num=10
sum=0
for i in range (1,num):
  sum+=i
  print(i)
print(f'Sum= {sum}')

1
2
3
4
5
6
7
8
9
Sum= 45

21. Write a program to check if a number is prime.

In [ ]:
def primeNumber(num21):
  if num21<0:
    return "Not Prime"
  for i in range(2,int(num21**0.5)+1):
    if num21%i==0:
      return "Not a Prime number"

  return "Prime Number"
print(primeNumber(15))

Not a Prime number

22. Write a program to print the Fibonacci sequence up to N terms.

In [ ]:
def fibbonacciSequence(N):
  a,b=0,1
  for i in range(N):
    print(a)
    a, b = b , a+b
fibbonacciSequence(5)

0
1
1
2
3

In [ ]:
def fibbonacciSequence(N):  #Output list type
  a,b=0,1
  lst=[]
  for i in range(N):
    lst.append(a)
    a, b = b , a+b
  return (lst)
fibbonacciSequence(5)

[0, 1, 1, 2, 3]

23. Write a program to count the number of digits in a number.

In [ ]:
def countNumberDigit(num23):
  str_num23=str(num23) #Convert the int to string
  count=0
  for i in (str_num23):
    count+=1
  print(f'{num23} -- {count}')
countNumberDigit(12345)
countNumberDigit(985491)

12345 -- 5
985491 -- 6

In [ ]:
#Inbuilt len() function to count strings.
num23=5161161
s_num23=str(num23) #Convert int to str
print(len(s_num23))

7

24. Write a program to reverse a string.

In [ ]:
def strReverse(string24):
  print(string24[::-1])
print(strReverse("gghnkhl"))

lhknhgg
None

25. Write a program to find the sum of all odd numbers from 1 to 50.

In [ ]:
sum=0
for i in range(1,50):
  if i%2!=0:
    sum+=i
print(sum)

625

26. Write a program to check if a string is a palindrome.

In [ ]:
def palindrome(string26):
  left=0
  right=len(string26)-1
  while left<right:
    if string26[left]!=string26[right]:
      return "Not a palindrome"
    left+=1
    right-=1
  return "Palindrome"
print(palindrome('nitin'))
print(palindrome('nithin'))

Palindrome
Not a palindrome

In [ ]:
def palindrome(string26):
  if string26==string26[::-1]:  #Inbuilt function which reverse the string #only strings
    return ('palindrome')
  else:
    return ('Not a Palindrome')
print(palindrome('nitin'))
print(palindrome('nithin'))

palindrome
Not a Palindrome

27. Write a program to calculate the GCD of two numbers.

In [ ]:
def gcd(a,b):
  while b!=0:
    a,b=b,a%b
  return a
print(gcd(15,45))

15

In [ ]:
import math
a,b=15,6
print(math.gcd(a,b)) #Inbuilt math gcd function from math module

3

28. Write a program to calculate the LCM of two numbers.

In [ ]:
def gcdFun(a,b):  # Function to find GCD
  while b!=0:
    a,b=b, a%b
  return a

def lcmFun(a,b):   #Function to find LCM
  if a<=0 or b<=0:
    return "Enter the number greater than 0"
  gcdVal=gcdFun(a,b)
  lcmVal = (a*b) // gcdVal
  return lcmVal


a=15
b=45
print(f'GCD: {gcdFun(a,b)}')
print(f'LCM: {lcmFun(a,b)}')

GCD: 15
LCM: 45

In [ ]:
import math
a,b=15,6
print(math.lcm(a,b))  #Inbuilt LCM function imported form math module

30

29. Write a program to find the second largest number in a list.

In [ ]:
lst=[2,3,23,7,45,9]
sorted_lst= sorted(lst, reverse=True)  #Sorted function the sorted list is assigned to new list(sorted_list)
print(sorted_lst[1])

print(f"Given List: {lst}")
print(f"Sorted List: {sorted_lst}")

23
Given List: [2, 3, 23, 7, 45, 9]
Sorted List: [45, 23, 9, 7, 3, 2]

In [ ]:
lst=[2,3,23,7,45,9]
print(f"Given List: {lst}")
lst.sort(reverse=True)  #Sort function rewrite the jumbled list into sorted list.

print(f"Sorted List: {lst}")
print(f'Second largest in the list: {lst[1]}')

Given List: [2, 3, 23, 7, 45, 9]
Sorted List: [45, 23, 9, 7, 3, 2]
Second largest in the list: 23

30. Write a program to print all prime numbers between 1 and 100.

In [ ]:
def PrintPrimeNumbers(num):
  for num in range(1,num+1):
    isPrime=True
    return "Enter the positive number"
  for i in range (2, int(num**0.5)+1):
    if num%i==0:
      isPrime=False
  if isPrime:
    print(num)

print(PrintPrimeNumbers(100))

Enter the positive number

In [ ]:
def printPrimeNumbers(n):
    for num in range(2, n + 1):
        isPrime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                isPrime = False
                break
        if isPrime:
            print(num)

printPrimeNumbers(100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
Str=input("")
List=list(Str)
seen=set()
repeat_count=0

for ch in List:
  if ch in seen:
    repeat_count+=1
    if repeat_count==2:
      print("2nd repeated character is ",ch )
      break
  else:
    seen.add(ch)

nithin
2nd repeated character is  n